{% extends 'layout.html' %}
{% block title %} 500 {% endblock %}
{% block content %}

<!-- Content
	============================================= -->
<section id="slider" class="slider-parallax full-screen dark error404-wrap slider-parallax-visible"
         style="background: url('/static/images/frostburn_final_by_noxiihunter-d88hzuq.jpg') center center; background-size: cover; height: 478px;">
    <div class="slider-parallax-inner" style="height: 478px; transform: translateY(0px);">

        <div class="container vertical-middle center clearfix" style="position: absolute; top: 50%; width: 100%; padding-top: 0px; padding-bottom: 0px; margin-top: -175px; opacity: 1.38703;">
            <div class="error404">500</div>
            <div class="heading-block nobottomborder">
                <h4>Ooopps! Something went wrong during your request!</h4>
            </div>
        </div>
    </div>
</section>

{% endblock %}