{% extends 'layout.html' %}
{% block title %} Login {% endblock %}
{% block header %} {% endblock %}
{% block content %}
<section id="content">

    <div class="content-wrap nopadding">

        <div class="section nopadding nomargin"
             style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: url('/static/images/krull_teaser_by_carlo_arellano-d83fsec.gif') center center no-repeat; background-size: cover;"></div>

        <div class="section nobg full-screen nopadding nomargin">
            <div class="container vertical-middle divcenter clearfix">

                <div class="row center">
                    <img src="/static/img/logo-dark.png" alt="Logo"/>
                </div>

                <div class="panel panel-default divcenter noradius noborder"
                     style="max-width: 400px; background-color: rgba(255,255,255,0.93);">
                    <div class="panel-body" style="padding: 40px;">
                        <form id="login-form" name="login-form" class="nobottommargin" action="/login/" method="post">
                            <h3>Login to your Account</h3>

                            <div class="col_full">
                                <label for="login-form-username">Username:</label>
                                <input type="text" id="login-form-username" name="login-form-username" value=""
                                       class="form-control not-dark"/>
                            </div>

                            <div class="col_full">
                                <label for="login-form-region">Region:</label>
                                <select id="login-form-region" name="login-form-region"
                                        class="selectpicker form-control">
                                    <option value="eu">Europe</option>
                                    <option value="na">North America</option>
                                    <option value="sa">South America</option>
                                    <option value="ea">East Asia</option>
                                    <option value="sea">South East Asia</option>
                                </select>
                            </div>

                            <div id="error" class="col_full text-danger" style="display: none;"></div>

                            <div class="col_full nobottommargin">
                                <button class="button button-3d button-black nomargin" id="login-form-submit"
                                        name="login-form-submit" value="login">Login
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>

</section><!-- #content end -->


{% endblock %}
{% block footer %} {% endblock %}
{% block js %}
<script>
$(function() {
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		{% for message in messages %}
		  $("#error").html("{{ message }}");
		{% endfor %}
		 $("#error").slideDown();
	  {% endif %}
	{% endwith %}

});

</script>
{% endblock %}