{% extends 'layout.html' %}
{% set light = true %}
{% block title %} Profile {% endblock %}
{% block head %}
<style>
    #external-profiles img {
        width: auto;
        height: 24px;
    }

    .avatar {
        border: 0;
    }

    .text-name {
        display: block;
        margin-top: 10px;
        font-weight: 300;
        color: #777;
        font-size: 20px;
    }

    h4 button.mfp-close {
        background-color: black;
        font-size: 21px;
    }


		span.twitter-typeahead { display: block !important; }

		.tt-menu {
			width: 100%;
			margin: 4px 0;
			padding: 8px 0;
			background-color: #FFF;
			border: 1px solid rgba(0, 0, 0, 0.2);
			-webkit-border-radius: 4px;
			 -moz-border-radius: 4px;
				  border-radius: 4px;
			-webkit-box-shadow: 0 1px 10px rgba(0,0,0,.1);
			 -moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
				  box-shadow: 0 1px 10px rgba(0,0,0,.1);

		}

		.tt-suggestion {
			padding: 3px 20px;
			font-size: 15px;
			line-height: 24px;
		}

		.tt-suggestion:hover {
			cursor: pointer;
			color: #FFF;
			background-color: #0097cf;
		}

		.tt-suggestion.tt-cursor {
			color: #fff;
			background-color: #0097cf;

		}

</style>
{% endblock %}
{% block content %}
<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="row clearfix">

                <div class="col-sm-9">

                    <img src="/static/img/skilltiers/{{player.skillTier}}.png"
                         class="avatar alignleft img-circle img-thumbnail notopmargin nobottommargin" alt="Avatar"
                         style="max-width: 84px;">

                    <div class="heading-block noborder">
                        <h3> {{ player }} </h3>
                        <span> {{ player.id }} </span>
                    </div>

                    <div class="clear"></div>

                    <div class="row clearfix">

                        <div class="col-md-12">
                            <div class="pricing bottommargin clearfix">
                                <div class="col-sm-6">
                                    <div class="heading-block topmargin-sm">
                                        <h2> Team </h2>
                                    </div>
                                    {% if player.team %}
                                    <a href="/team/{{team.id}}/">
                                        <img src="/static/img/skilltiers/{{team.skillTier}}.png"
                                             class="avatar alignleft img-circle img-thumbnail notopmargin nobottommargin"
                                             alt="Avatar" style="max-width: 84px;">
                                        <span class="text-name"> <strong>{{ team.name }}</strong> <br> {{ team.tag }} </span>
                                    </a>
                                    {% else %}
                                    <span class="text-name"> This player has no team. </span>
                                    {% endif %}
                                </div>

                                <div class="col-sm-6">
                                    <div class="heading-block topmargin-sm">
                                        <h2> Guild </h2>
                                    </div>
                                    {% if player.guild %}
                                    <a href="/guild/{{guild.id}}/">
                                        <img src="/static/img/skilltiers/{{guild.skillTier}}.png"
                                             class="avatar alignleft img-circle img-thumbnail notopmargin nobottommargin"
                                             alt="Avatar" style="max-width: 84px;">
                                        <span class="text-name"> <strong>{{ guild.name }}</strong> <br> {{ guild.tag }} </span>
                                    </a>
                                    {% else %}
                                    <span class="text-name"> This player has no guild. </span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="line visible-xs-block"></div>

                <div class="col-sm-3 clearfix">

                    <div id="external-profiles" class="list-group">
                        <a href="http://vgpro.gg/players/{{player.shardId}}/{{player}}" target="_blank" class="list-group-item clearfix">Vgpro.gg <img  src="http://vgpro.gg/assets/images/logo_smaller.png" class="pull-right"/> </a>
                        <a href="http://vain.gg/{{player.shardId}}/{{player}}" target="_blank" class="list-group-item clearfix">Vain.gg <img src="http://images.vain.gg/images/logo/nav-logo.png" class="pull-right"/></a>
                        <a href="http://www.vgminer.com/DataMine/PlayerData?playerName={{player}}&region={{player.shardId}}" target="_blank" class="list-group-item clearfix">VgMiner <img src="https://pbs.twimg.com/profile_images/855079047881162752/f0l_CSBH_400x400.jpg" class="pull-right"/> </a>
                        <a href="https://vainsocial.com/player/{{player}}" target="_blank" class="list-group-item clearfix">VainSocial <img src="https://pbs.twimg.com/profile_images/838757996054208514/3Fic1_R8_400x400.jpg" class="pull-right"/> </a>
                        <a href="https://mastervainglory.com/profile/{{player.shardId}}/{{player.id}}" target="_blank" class="list-group-item clearfix">Master Vainglory <img src="https://mastervainglory.com/asset/image/logo-mini-light.png" class="pull-right"/></a>
                        <a href="http://vgu.herokuapp.com/analysis.html?ign={{player}}&shard={{player.shardId}}&submit=" target="_blank" class="list-group-item clearfix">Vainglory University <img src="http://vgu.herokuapp.com/images/vgu-logo-large.png" class="pull-right"/></a>
                    </div>

                    <div class="fancy-title topmargin title-border">
                        <h4>Update Stats</h4>
                    </div>
                    <form action="#" id="update-player-form" name="update-player-form" class="clearfix"
                          style="display: none;">
                        <input type="text" name="player_id" value="{{player.id}}" hidden/>
                    </form>
                    <button id="update-player-stats" type="button"
                            class="button button-rounded button-small button-dark nomargin" value="submit">Update
                    </button>
                    <button id="update-player-stats-wait" type="button"
                            class="button button-3d button-black nomargin button-loading" style="display: none;"><i
                            class="icon-repeat"></i> Loading
                    </button>
                    <div id="update-player-stats-success" class="alert alert-success" style="display: none;">
                        <strong>Thank You.</strong> You updated the stats succesfully!
                    </div>
                    <div id="update-player-stats-error" class="alert alert-danger" style="display: none;">
                        <strong>Sorry.</strong> Something went wrong, please try again another time!
                    </div>

                    <div class="fancy-title topmargin title-border">
                        <h4>Recent Games</h4>
                    </div>

                    {% for game in player.participated[-5:] %}
                        <a href="/match/{{game.roster.match.id}}/" class="social-icon {% if game.winner %}si-spotify{% else %}si-youtube{% endif %} si-small si-rounded si-colored" title="Facebook">
                            <i class="icon-circle"></i>
                            <i class="icon-circle"></i>
                        </a>
                    {% endfor %}

                </div>

            </div>

        </div>

    </div>

</section><!-- #content end -->
{% endblock %}
{% block js %}
<script>
$(function() {
    $('#update-player-stats').click(function() {
        $("#update-player-stats").hide();
        $("#update-player-stats-wait").show();

        $.ajax({
            url: '/ajax_update_player/',
            data: $('#update-player-form').serialize(),
            type: 'POST',
            success: function(response) {
                $("#update-player-stats-success").slideDown();
                $("#update-player-stats-wait").hide();
            },
            error: function(error) {
                $("#update-player-stats-error").slideDown();
                $("#update-player-stats-wait").hide();
            }
        });
    });
});

</script>
{% endblock %}