{% extends 'layout.html' %}
{% set light = true %}
{% block title %} Teams {% endblock %}
{% block head %}
<!-- Bootstrap Data Table Plugin -->
<link rel="stylesheet" href="/static/css/bs-datatable.css" type="text/css"/>
<style>
#team_datatable tbody tr {
    cursor: pointer;
}

</style>
{% endblock %}
{% block content %}
<!-- Page Title
============================================= -->
<section id="page-title">

    <div class="container clearfix">
        <div class="row">
            <div class="col-md-6">
                <h1> {{ title }} </h1>
                <span> Overview </span>
            </div>
        </div>
    </div>

</section><!-- #page-title end -->


<!-- Content
	============================================= -->
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div id="teams" class="row">
                <table id="team_datatable" class="table table-hover table-striped" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Tag</th>
                        <th>Matches played</th>
                        <th>Winrate</th>
                        <th>Members</th>
                        <th>Skill tier</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for team in teams %}
                    <tr data-url="/{{ active }}/{{team.id}}/">
                        <td> {{ team }}</td>
                        <td> {{ team.tag }}</td>
                        <td> {{ team._matches | count }}</td>
                        <td> {{ '%0.2f'| format(team.winrate) }}%</td>
                        <td> {{ team._members | count }}</td>
                        <td><span class="skilltier"> {{team.skillTier}} </span> <img class="pull-right" src="/static/img/skilltiers/{{team.skillTier}}.png" alt="team's skilltier" width="25px"/></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</section>

{% endblock %}

{% block js %}
<!-- Bootstrap Data Table Plugin -->
<script type="text/javascript" src="/static/js/bs-datatable.js"></script>

<script>
$(function() {
    $('#team_datatable').dataTable();

	$('#team_datatable tbody').on('click', 'tr', function () {
	    window.location.href = $(this).data('url');
    } );
});


</script>
{% endblock %}